@font-face {
    font-family: 'Mark Medium';
    src: url('./fonts/medium.eot');
    src: url('./fonts/medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/medium.woff') format('woff'),
         url('./fonts/medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
